.loginScreen {
  position: relative;
  height: 100%;
  background: url("https://miro.medium.com/max/1400/1*5lyavS59mazOFnb55Z6znQ.png")
    center no-repeat;
  background-size: cover;
}
.loginScreen__gradient {
  width: 100%;
  z-index: 1;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.8) 0,
    rgba(0, 0, 0, 0) 60%,
    rgba(0, 0, 0, 0.8) 100%
  );
}
.loginScreen__body {
  z-index: 1;
  color: white;
  padding: 20px;
  position: absolute;
  top: 30%;
  margin-left: auto;
  margin-right: auto;
}
.loginScreen__body > h1 {
  font-size: 3.15rem;
  margin-bottom: 20px;
}
.loginScreen__logo {
  position: fixed;
  left: 0;
  width: 150px;
  object-fit: contain;
  padding-left: 20px;
}
.loginScreen__btn {
  position: fixed;
  right: 20px;
  top: 20px;
  padding: 10px 20px;
  color: white;
  background-color: #e50914;
  font-weight: 600;
  border: none;
  cursor: pointer;
}
